.info__title {
    margin: 0;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
    text-align: left;
}