.button__black {
    padding: 0;
    max-width: 263px;
    min-height: 72px;
    width: 100%;

    font-family: 'Golos Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;

    border: #1f1f1f;
    border-radius: 66px;
    background: #1f1f1f;
    cursor: pointer;
}

.button__black:hover {
    color: #1f1f1f;;
    background: #fbce51;
    transition: 1s;
  }