.gallery__profession {
    margin: 0 auto 20px;
    max-width: 277px;
    min-height: 24px;

    font-family: 'Golos Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    opacity: 0.6;
}