.header {
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
  min-height: 700px;
  width: 100%;
  display: flex;
  position: relative;

  background-image: url(../../images/background.png);
  /* background-position: center;
  background-repeat: no-repeat; */
  /* z-index: 0; */
  overflow: hidden;

  /* background-color: #e9ded4; */
  /* opacity: 0.8; */
}
