.price__list {
  min-height: 280px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;

  grid-template-columns: 290px 382px;
  list-style-type: none;
  text-align: left;

  /* border-collapse: collapse; */
  /* border: 2px solid #d0d0d0; */
}

/* .price__list td {
  border: 2px solid #d0d0d0;
} */